* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #351570;

}
.box-card {
    color: #fff;
}
.container {
    background-color: #351570e0;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

input[type="number"],
select {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #333;
}

.start-button {
    background-color: #e21b3c;
    color: white;
    border: none;
    padding: 1.2rem 2.5rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #c4162f;
}

